<p style="color: green"><%= notice %></p>

<h1>Awesome Events for: <%= current_user.email%></h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <h3>Attending:</h3>
    <% event.attended_users.uniq.each do |person| %>
      <p> <%= link_to person.email, person %> </p>
    <% end %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>
